* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: commuters_sansregular, sans-serif;
  }


  @font-face {
    font-family: 'commuters_sansbold';
    src: url('components/fonts/commuterssans-bold-webfont.woff2') format('woff2'),
         url('components/fonts/commuterssans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'commuters_sansregular';
    src: url('components/fonts/commuterssans-regular-webfont.woff2') format('woff2'),
         url('components/fonts/commuterssans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'commuters_sanslight';
    src: url('components/fonts/commuterssans-light-webfont.woff2') format('woff2'),
         url('components/fonts/commuterssans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    /*background-image: url('/images/img-2.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    /*background-image: url('/images/img-1.jpg');*/
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    /*background-image: url('/images/img-8.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }